/* ------------------------- */
/* DATOS GENERALES */
/* ------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------- */
/* VARIABLES */
/* ------------------------- */

:root {
    --color-bg      :#e3e7f1;
    --color-alt     :#494ca2;
    --color-text    :#7077e6;
    --color-hover   :#3f428f;
    --color-box     :rgb(27, 27, 51, 0.5);
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
    background-color: var(--color-bg); 
}

/* ------------------------- */
/* HEADER */
/* ------------------------- */

.container {
    text-align: center;
    height: 99vh;
}

.container .cg-svg {
    width: 6rem;
    margin: 1rem;
}

.container .error-page {
    color: var(--color-alt);
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.container .error-404 {
    color: var(--color-text);
    font-size: 1.2rem;    
    font-weight: 100;
}

.container .s-small {
    font-size: 18px;
    padding-bottom: 2.5rem;
}

.container .e404 {
    width: 80vh;
    font-size: 160px; 
}

.container .btn {
    text-decoration: none;
    background: var(--color-alt);
    color: var(--color-bg);
    margin: 15px;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 15px;
    /* transition: .5s; */
}

.container a:hover {
    /* background-color: var(--color-hover); */
    
    box-shadow: 0 1px 3px 1px var(--color-box);
}